# Python bytecode
__pycache__/
*.py[cod]

# Thư mục virtual environment
venv/
ENV/
env/
*.env

# Thư mục PyCharm
.idea/

# Thư mục cache của Python
*.pyc
*.pyo
*.pyd

# Các file log
*.log

# File cấu hình môi trường (như secrets, mật khẩu, v.v.)
.env

# Thư mục chứa file database SQLite
*.db
test.db

# Các file tạm thời
*.tmp
*.swp

# Các file backup của IDE hoặc các chương trình khác
*.bak
*.orig

# Các file dump
*.dmp

