# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# PyCharm
.idea/

# Virtual Environment
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# SQLite Database
*.sqlite3

# Config files
*.env
config.json
login.json
config/

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Pipenv
Pipfile.lock

# Jupyter Notebook
.ipynb_checkpoints/

# Test Coverage Reports
htmlcov/
.coverage
*.cover
*.coverage.*

# Build and distribution
build/
dist/
*.egg-info/
